Scraping "Largest Public List" Data From Wikipedia and Putting it Into a Pandas Data Frame

In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html')

In [3]:
table = soup.find('table', 'wikitable sortable')

In [4]:
table_header = table.find_all('th')

In [5]:
clean_table_header = [title.text.strip() for title in table_header]

print(clean_table_header)

['Rank', 'Name', 'Industry', 'Revenue (USD millions)', 'Revenue growth', 'Employees', 'Headquarters']

In [6]:
import pandas as pd

In [7]:
df = pd.DataFrame(columns = clean_table_header)

In [8]:
df_row = table.find_all('tr')

In [9]:
for row in df_row[1:]:
    df_data = row.find_all('td')
    separated_df_data = [data.text.strip() for data in df_data]
    
    length = len(df)
    df.loc[length] = separated_df_data

In [10]:
df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"648,125",6.0%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"574,785",11.9%,"1,525,000","Seattle, Washington"
2,3,Apple,Electronics industry,"383,482",-2.8%,"161,000","Cupertino, California"
3,4,UnitedHealth Group,Healthcare,"371,622",14.6%,"440,000","Minnetonka, Minnesota"
4,5,Berkshire Hathaway,Conglomerate,"364,482",20.7%,"396,500","Omaha, Nebraska"
...,...,...,...,...,...,...,...
95,96,TIAA,Financials,"45,735",11.8%,"16,023","New York City, New York"
96,97,CHS,Agriculture cooperative,"45,590",-4.6%,"10,609","Inver Grove Heights, Minnesota"
97,98,Bristol-Myers Squibb,Pharmaceutical industry,"45,006",-2.5%,"34,100","New York City, New York"
98,99,Dow Chemical Company,Chemical industry,"44,622",-21.6%,"35,900","Midland, Michigan"
99,100,Best Buy,Retail,"43,452",-6.1%,"85,000","Richfield, Minnesota"

In [12]:
df.to_csv(r'C:\Users\Asus\Downloads\Web-Scrapping Project\Top-Companies.csv', index = False)